Repository intuitivelabs/moki: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker:ci, client:build, server:build

.gitlab-ci.yaml:

workflow:
  rules:
    - if: $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:|\[WIP\]|WIP:)/
      when: never
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      # trigger on tag
    - if: '$CI_COMMIT_TAG =~ /^5.3.*/ || $CI_COMMIT_TAG =~ /^m5.3.*/'
    - if: $CI_PIPELINE_SOURCE == "web"

stages:
  - builder
  - test
  - build
  - image

variables:
  CLICOLOR_FORCE: '1'
  GIT_SUBMODULE_STRATEGY: recursive
  # NPM_PROXY: '1'
  CI_IMAGE_NAME: docker.frafos.net/debian/moki-ci:5.3

include:
  - .gitlab-ci/template.yaml

docker:ci:
  stage: builder
  image: docker.frafos.net/docker:20.10-ci
  interruptible: true
  rules:
    - changes:
      - Dockerfile.ci
  services:
  - name: docker.frafos.net/docker:20.10-dind
    alias: docker
  script:
    - docker build -f Dockerfile.ci -t $CI_IMAGE_NAME .
    - docker push $CI_IMAGE_NAME

client:lint:
  stage: test
  extends: .lint
  variables:
    WHERE: Moki/client

server:lint:
  stage: test
  extends: .lint
  needs:
    - job: docker:ci
      optional: true
  variables:
    WHERE: Moki/server

client:test:
  stage: test
  extends: .test
  needs:
    - job: docker:ci
      optional: true
  variables:
    WHERE: Moki/client

server:test:
  stage: test
  extends: .test
  needs:
    - job: docker:ci
      optional: true
  variables:
    WHERE: Moki/server

client:build:
  stage: build
  image: $CI_IMAGE_NAME
  interruptible: true
  script:
    - npm install --prefix Moki/client --omit-dev
    - npm run build --prefix Moki/client
  needs:
    - client:test
    - client:lint
    - job: docker:ci
      optional: true
  rules:
    - if: $CI_MERGE_REQUEST_LABELS =~ /^(.*,)?ci-skip-tests(,.*)*$/
      when: never
    - changes:
        - Moki/client/*
        - Moki/client/**/*

server:build:
  stage: build
  image: $CI_IMAGE_NAME
  interruptible: true
  script:
    - npm install --prefix Moki/server --omit-dev
    - npm run build --prefix Moki/server
  needs:
    - server:test
    - server:lint
    - job: docker:ci
      optional: true
  rules:
    - if: $CI_MERGE_REQUEST_LABELS =~ /^(.*,)?ci-skip-tests(,.*)*$/
      when: never
    - changes:
        - Moki/server/*
        - Moki/server/**/*

docker:dist:
  stage: build
  needs:
    - job: docker:ci
      optional: true
  image: $CI_IMAGE_NAME
  script:
    - make install DESTDIR=`pwd`/dist
  artifacts:
    expire_in: 1h
    paths:
      - dist

docker:overlay:
  stage: image
  image: docker.frafos.net/docker:23.0-ci
  interruptible: true
  needs:
    - docker:dist
  services:
  - name: docker.frafos.net/docker:23.0-dind
    alias: docker
  script:
    - make pull-base pull-build
    - |
      if test "$CI_MERGE_REQUEST_IID" -o "$CI_COMMIT_REF_NAME" != "$CI_DEFAULT_BRANCH" ; then
        export VERSION=`make get_tag TAG=$CI_COMMIT_REF_NAME`
      fi
    - echo "Image version is $VERSION"
    - make overlay push

add: clean registry script
  clean-reg.sh
Due: none

Unit in realm and network charts, replace absolute values
  .gitlab-ci/template.yaml
  Moki/client/src/js/charts/MultipleLine.tsx
  Moki/client/src/js/dashboards/Home/HomeCharts.jsx
  Moki/client/src/js/dashboards/Network/NetworkCharts.jsx
  Moki/client/src/js/dashboards/Realm/RealmCharts.jsx
  Moki/client/src/stories/charts/MultipleLine.stories.tsx
  Moki/client/src/stories/charts/MultipleLineArea.stories.tsx
  Moki/server/src/controller/network.js
  Moki/server/src/js/template_queries/distinct_timerange_query_string.js
Due: client:build, server:build

Update .gitlab-ci.yaml file
  .gitlab-ci.yaml
Due: none

Merge pcap support
  Dockerfile.ci
  Moki/server/Makefile
  Moki/server/data/pcaps/02.pcap
  Moki/server/data/pcaps/03.pcap
  Moki/server/data/pcaps/19DF4DC8-6481F6AC000DBF1E-F5374700.pcap
  Moki/server/data/pcaps/invalid.pcap
  Moki/server/src/controller/diagram.ts
  Moki/server/src/lib/diagram/pcap.ts
  Moki/server/test/controller/diagram.test.ts
  Moki/server/test/diagram/pcap.test.ts
  frafos_cacert.crt
Due: docker:ci, server:build

Fix PCAP tests
  Moki/server/src/lib/diagram/pcap.ts
  Moki/server/test/diagram/pcap.test.ts
Due: server:build

Logs window and syslog
  Moki/client/package.json
  Moki/client/src/js/charts/NoData.tsx
  Moki/client/src/js/diagram/DiagramTooltip.tsx
  Moki/client/src/js/diagram/HostLine.tsx
  Moki/client/src/js/diagram/SipFlowPacket.tsx
  Moki/client/src/js/diagram/Syslog.tsx
  Moki/client/src/js/diagram/SyslogsWindow.tsx
  Moki/client/src/js/diagram/extractFlow.ts
  Moki/client/src/js/diagram/parseFlow.ts
  Moki/client/src/js/diagram/sequenceDiagram.tsx
  Moki/client/src/js/helpers/formatTime.ts
  Moki/client/src/stories/assets/diagrams/stream.xml
  Moki/client/src/stories/diagram/Syslog.stories.tsx
  Moki/client/src/stories/diagram/SyslogsWindow.stories.tsx
  Moki/client/src/stories/helpers/NoData.stories.tsx
  Moki/client/src/styles/style.scss
  Moki/client/test/diagram/extractFlow.test.ts
  Moki/client/test/diagram/flow.xml
  Moki/client/test/diagram/parseFlow.test.ts
  Moki/server/data/pcaps/04.pcap
  Moki/server/test/diagram/pcap.test.ts
Due: client:build, server:build

Monitor Initial Auth screen improvements F#7889
  Moki/client/src/js/helpers/firstLoginPopup.jsx
  Moki/client/src/styles/style.css
Due: client:build

Monitor Initial Auth screen improvements F#7889
  Moki/client/src/js/helpers/firstLoginPopup.jsx
  Moki/client/src/styles/style.scss
Due: client:build

8257 storing filters fix - move getUser form admin controller to config
  Moki/server/src/controller/admin.js
  Moki/server/src/controller/profile.js
  Moki/server/src/controller/setting.js
  Moki/server/src/modules/config.js
Due: server:build

adding await to delete fce
  Moki/server/src/controller/setting.js
Due: server:build

added limit 500 for stored filters and order desc
  Moki/server/src/controller/setting.js
Due: server:build

stored filters limit 500 and desc order
  Moki/server/src/controller/setting.js
Due: server:build

remove display inline
  Moki/client/src/App.js
Due: client:build
